.dialogs{
    width: 500px;
    min-height: 100%;
    height: auto;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 150px 350px;
    border: 1px solid red;
}
.dialogItems{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
    gap: 15px;

}

.messages{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 15px;
}
.sendMessage{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
}
.inputMessage{
    border-radius: 25px/25px;
}
.addMessage{
    width: 130px;
    height: 30px;
    font-size: 16px;
    background-color: darkturquoise;
    border-radius: 15px/15px;
    border: transparent;
}